@page
@model Odpelji_me.Pages.User.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uporabnik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik.Priimek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.Priimek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik.Geslo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.Geslo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik.Vloga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.Vloga)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Uporabnik.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
